/*Content first - Mobile first*/
/*Reglas Generales*/

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, h1, h2, h3, header p{
    margin: 0px;
}

/*Barra de Navegacion*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #c3a, #66c);
}

nav a{
    display: block;
    padding: .5rem;
    color: #eee;
    text-decoration: none;
}

.logo{
    text-transform: uppercase;
    font-weight: bold;
}

.btn{
    margin: .5rem;
    color: #eee;
    border: .1rem solid #eee;
    background-color: transparent;
    font-size: 1.2rem;
}

.btn:hover{
    color: #66c;
    background-color: #eee;
}

.menu{
    width: 100%;
    padding: 0;
    list-style: none;
}

.menu a:hover{
    background-color: #3338;
}